
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  font-size: 14px;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mdc-filled-text-field-container-color: rgb(250, 250, 250);
  --mdc-filled-text-field-label-text-size: 14px;
  --mat-form-field-container-text-size: 14px;
  --mat-form-field-container-padding-top: 8px;
  --mat-form-field-container-height: 36px;
  --mat-form-field-hover-state-layer-opacity: 0;
  --mat-dialog-container-max-width: 1000px;
  --mat-table-background-color: #fff;
  --mat-table-row-item-outline-color: rgb(219, 219, 219);
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;

  .container {
    padding: 30px 20px 0 20px;
    width: 935px;
  }

  &.small {
    justify-content: space-around;

    .container{
      padding: unset;
      margin: 12px 0 44px 0;
      width: 350px;
    }
  }

}

.h-center {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-h-ceneter {
  text-align: center;
}

.bordered {
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 0;
  margin-bottom: 10px;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  color: rgb(115, 115, 115);
}

.mat-mdc-form-field-infix {
  padding-top: 12px !important;
  padding-bottom: 0px !important;
}

.mdc-text-field {
  border-radius: 3px !important;
  border: 1px solid rgb(219, 219, 219);
  padding: 0 8px !important;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0px;
}

.mdc-button {
  padding: 7px 16px !important;
  border-radius: 8px !important;
  height: 32px !important;
}

.mdc-line-ripple {
  display: none;
}

.mat-mdc-dialog-surface {
  border-radius: 0 !important;
}
