
<div class="main-container">
  <div class="container">
    <h2 class="text-h-ceneter">Create new post</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="images" appearance="fill">
        <app-file-upload-input [multiple]="true" formControlName="images"></app-file-upload-input>
      </mat-form-field>

      <div class="other">
        <div class="details">
          <mat-form-field class="description" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
          </mat-form-field>

          <mat-slide-toggle class="public" formControlName="isPublic">Public</mat-slide-toggle>

          <ng-container *ngIf="!form.value.isPublic">
            <mat-form-field appearance="fill">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" type="number">
            </mat-form-field>
          </ng-container>
        </div>

        <div class="actions">
          <button mat-flat-button type="submit">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
