<div #scrollBox class="main-container" (scroll)="onScroll()">
  <div class="container">
    <h2>Users</h2>

    <div class="actions" *ngIf="canCreate" (click)="openModal()">
      <button mat-flat-button>Create</button>
    </div>

    <table mat-table [dataSource]="items">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let n">{{ n.username }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let n">{{ n.role }}</td>
      </ng-container>

      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef>Profile</th>
        <td mat-cell *matCellDef="let n">
          <app-profile-tag *ngIf="n.profile" [profile]="n.profile"></app-profile-tag>
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let n">{{ n.created | date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let n">
          <button mat-icon-button *ngIf="n.canEdit" (click)="openModal(n)">
            <mat-icon>edit</mat-icon>
          </button>

          <button class="delete" mat-icon-button *ngIf="n.canDelete" (click)="delete(n)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
