.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }

  .details {
    .name {
      font-weight: 500;
    }

    .date {
      color: rgb(134, 134, 134);
    }
  }
}
