.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  .details {
    color: rgb(134, 134, 134);
    margin-left: 5px;
    width: 100%;
  }

  .delete {
    color: rgb(235, 11, 11);
  }
}
