.navigation {
  width: 350px;
  display: none;
  padding: 8px 12px 20px 12px;
  border: 1px solid rgb(219, 219, 219);
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;

  @media screen and (max-width: 1400px) {
    width: 200px;
  }

  @media screen and (max-width: 850px) {
    width: 74px;

    .navigation-title {
      display: none;
    }

    a div{
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    position: absolute;
    z-index: 1;
    background: white;
    bottom: 0;
    flex-direction: row;
    height: 78px;
    width: 100%;

    a {
      margin: 0 8px !important;
    }

    .navigations {
      width: 100%;
      display: flex;
    }
  }

  &.visible {
    display: flex;
  }

  .navigation-title {
    padding: 25px 12px 16px 12px;
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 1.6em;
  }

  a {
    padding: 12px;
    margin: 4px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(126, 126, 126);
    font-size: 1.15em;
    line-height: 1.3em;

    &.active {
      font-weight: 500;
      color: black;
    }

    div {
      padding-left: 16px;
    }
  }

  .navigations {
    height: 100%;
  }
}
