.container {
  .profile {
    display: flex;
    margin-bottom: 44px;

    .image {
      width: 30%;
      margin-right: 28px;
      display: flex;
      justify-content: center;

      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }

    .details {
      .name {
        margin-bottom: 20px;
        font-size: 1.45em;
      }

      .counter {
        margin-bottom: 20px;
        color: rgb(134, 134, 134);

        .count {
          font-weight: 500;
          color: black;
        }
      }
    }
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .post {
      width: calc(100% / 3 - 10px);
      padding: 5px;
    }
  }

  ::ng-deep .mat-mdc-tab-header {
    margin-bottom: 10px;
  }
}
